<div class="container">
    <div class="welcomebox"><%= currentUser ? 'welcome ' + currentUser.name + '!' : 'Sign up for play' %></div>
    <% if (!currentUser) { %>
        <% let i = Math.floor(Math.random() * restCountry.length) %>
        <div class="randombox">
            <div class="imageboxintro">
                <img id="image" src="/img/flagimages/<%= restCountry[i].alpha3Code %>.png">
            </div>
            <div class="arrow"><p>This country is...</p></div>
            <div class="countryinfo">
                <p><strong><%= restCountry[i].name %></strong></p>
                <p>capital: <strong><%= restCountry[i].capital %></strong></p>
                <p>region: <strong><%= restCountry[i].region %> - <%= restCountry[i].subregion %></strong></p>
                <p>population: <strong><%= restCountry[i].population %></strong></p>
                <p>Native Name: <strong><%= restCountry[i].nativeName %></strong></p>
            </div>
        </div>
        <div class="linkbox">
            <div class="indexSelect">
                <p><strong><a href="games/demo">demo game</a></strong></p>
            </div>
            <div class="indexSelect" id="disableBox">
                <p><strong><a href="games/10q">10 Questions</a></strong></p>
            </div>
            <div class="indexSelect">
                <p><strong><a href="scores/ranking/">Top 10 Ranking</a></strong></p>
            </div>
        </div>
        
    <% } else { %>
        <% let i = Math.floor(Math.random() * restCountry.length) %>
    <div class="randombox">
        <div class="imageboxintro">
            <img id="image" src="/img/flagimages/<%= restCountry[i].alpha3Code %>.png">
        </div>
        <div class="arrow"><p>This country is...</p></div>
        <div class="countryinfo">
            <p><strong><%= restCountry[i].name %></strong></p>
            <p>capital: <strong><%= restCountry[i].capital %></strong></p>
            <p>region: <strong><%= restCountry[i].region %> - <%= restCountry[i].subregion %></strong></p>
            <p>population: <strong><%= restCountry[i].population %></strong></p>
            <p>Native Name: <strong><%= restCountry[i].nativeName %></strong></p>
        </div>
    </div>
    <div class="linkbox">
        <div class="indexSelect">
            <p><strong><a href="games/10q">10 Questions</a></strong></p>
        </div>
        <div class="indexSelect">
            <p><strong><a href="scores/comment">Leave Comments</a></strong></p>
        </div>
        <div class="indexSelect">
            <p><strong><a href="scores/ranking/">Top 10</a></strong></p>
        </div>
    </div>
    <% }; %>

</div>