<h2>Home Page</h2>
<div class="container">
    <%= currentUser ? currentUser.name : 'There is no user' %>
    <% if (!currentUser) { %>
        
        
        <% let i = Math.floor(Math.random() * restCountry.length) %>
        
        <div class="imagebox">
            <img id="imagequestion" src="/img/flagimages/<%= restCountry[i].alpha3Code %>.png">
        </div>
        <div class="countryinfo">
            <p>name: <%= restCountry[i].name %></p>
            <p>capital: <%= restCountry[i].capital %></p>
            <p>region: <%= restCountry[i].region %> - <%= restCountry[i].subregion %></p>
            <p>population: <%= restCountry[i].population %></p>
            <p>Native Name: <%= restCountry[i].nativeName %></p>

        </div>

        <div class="selectgamebox">
            <p><a href="games/demo">demo game</a></p>
        </div>
        <div class="10Qbox">
            <p><a href="games/10q">10 Questions</a></p>
        </div>
        <!-- <div class="enduranceBox">
            <p><a href="games/">Endurance</a></p>
        </div> -->
    <% } else { %>
        <div class="10Qbox">
            <p><a href="games/10q">10 Questions</a></p>
        </div>
        <!-- <div class="enduranceBox">
            <p><a href="games/endurance">Endurance</a></p>
        </div> -->
    <% }; %>
</div>