<h2>Profile Page</h2>

<h3>Welcome to your PROFILE ========= <%= currentUser.name %></h3>

<div id="profileBox">
    <ul id="userStat">
        <li>Highest Score:</li>
        <li>Average Score:</li>
    </ul>
</div>
<% foundID.forEach(score => { %>
    <p><%= score.userId %></p>
    <p><%= score.endscore %></p>
    <p><%= score.round %></p>
    <p><%= score.createdAt %></p>
<% }) %>